/* Components */
@import "components/topBar.css";
@import "components/bottomBar.css";

/* Screens */
@import "screens/mainBeforeLogin.css";
@import "screens/join.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@font-face {
  font-family: "Eulyoo1945-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar__column:first-child {
  font-family: "Lobster", cursive;
}

.top-bar__column:last-child button,
.main-info-first__column,
.bottom-bar,
.join__column,
#join-submit,
button {
  font-family: "RIDIBatang";
}
