.bottom-bar {
  width: 100vw;
  height: 100px;
  background-color: rgb(117, 81, 57);
  color: rgb(242, 237, 215);

  display: flex;
  flex-direction: column;
}

.bottom-bar__column {
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-left: 50px;
}

.bottom-bar__column-title {
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.bottom-bar__column-copyright {
  font-size: 13px;
}
